.mtb_yourtestbed {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}
.mtb_yourtestbed li {
    display: inline;
}

.mtb_yourtestbed li:after {
    content: ", ";
}

.mtb_yourtestbed li:last-child:after {
    content: "";
}

.mtb_partiallist li:last-child:after {
    content: "...";
}

.mtb_model_editor {
    margin-top: 15px;
}

.mtb_model_topo_container {
    min-height: 650px;
}

.mtb_table_btn {
    border-color: transparent !important;
}

.maincontainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    margin-top: 15px;
}
